.contact-section {
  margin: auto;
  padding-bottom: 50px;
  margin-top: 50px;
  width: 100%;
}
.contact-section h3 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px;
}
.contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}
.contact-flex h4 {
  font-weight: 500;
  margin: 0;
  opacity: 0.6;
  font-size: 13px;
}
.contact-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-flex p {
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: 13px;
}
a.contact-social {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  padding-bottom: 2px;
}
.contact-box h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  word-break: break-all;
}
.contact-box h2 > span {
  color: var(--accentColor);
}
.contact-box h5 {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  gap: 10px;
  opacity: 0.5;
  flex-wrap: wrap;
}
@media only screen and (min-width: 481px) {
  .contact-section h3 {
    font-size: 38px;
    padding: 0 15px;
  }
  .contact-flex h4 {
    font-size: 14px;
  }
  .contact-box h2 {
    font-size: 20px;
  }
  a.contact-social {
    font-size: 22px;
  }
  .contact-flex p {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .contact-section h3 {
    font-size: 45px;
    padding: 0 20px;
  }
  .contact-box h2 {
    font-size: 22px;
  }
  a.contact-social {
    font-size: 24px;
  }
  .contact-flex p {
    font-size: 15px;
  }
  .contact-section {
    margin-top: 80px;
    padding-bottom: 80px;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-section h3 {
    font-size: 50px;
  }
  .contact-box h2 {
    font-size: 20px;
  }
  a.contact-social {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1300px) {
  .contact-section h3 {
    font-size: 40px;
  }
  .contact-box h2 {
    font-size: 18px;
  }
  a.contact-social {
    font-size: 20px;
  }
  .contact-flex p {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 900px) {
  .contact-flex {
    flex-direction: column;
    gap: 40px;
  }
  .contact-flex p {
    margin-bottom: 0px;
  }
  .contact-flex h4 {
    margin-top: 20px;
  }
  .contact-section {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .contact-container {
    width: calc(100% - 25px);
  }
}
