.section-container {
  width: 100%;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}
.title,
.para {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media only screen and (min-width: 481px) {
  .section-container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .section-container {
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .section-container {
    width: 900px;
    max-width: 90%;
    padding: 0;
  }
}
@media only screen and (min-width: 1400px) {
  .section-container {
    width: 900px;
  }
}
@media only screen and (max-width: 1600px) {
  .section-container {
    width: 1200px;
    max-width: calc(100% - 160px);
  }
}
@media only screen and (max-width: 1400px) {
  .section-container {
    width: 900px;
  }
}
@media only screen and (max-width: 900px) {
  .section-container {
    width: 500px;
    max-width: var(--cWidth);
  }
}
